@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;800&display=swap');
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #f7f7f7;
}
p {font-family:'Dosis', sans-serif; }
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #333333;
  text-align: center;
}

h1 {
  padding: 3rem 1.5rem;
}

.nav-item {
  margin-right: 10px;
}

#add_doc, #delete_doc, #add_analysis, #delete_analysis, #filtr {
  margin-top: 30px;
}

.table, .input-group, .pagination{
  margin-top: 30px;
}
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.mycol-sm-6 {
  padding:  20px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding-top: 10px;
  margin: auto;
}
.form-signin{
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
input[type="submit"] {
  margin-top: 10px;
}

#myInput {
  background-image: url('/css/searchicon.png'); /* Добавить значок поиска для ввода */
  background-position: 10px 12px; /* Расположите значок поиска */
  background-repeat: no-repeat; /* Не повторяйте изображение значка */
  width: 100%; /* Полная ширина */
  font-size: 16px; /* Увеличить размер шрифта */
  padding: 12px 20px 12px 40px; /* Добавить немного отступов */
  border: 1px solid #ddd; /* Добавить серую границу */
  margin-bottom: 12px; /* Добавить некоторое пространство под входом */
}

#myTable {
  border-collapse: collapse; /* Свернуть границы */
  width: 100%; /* Полная ширина */
  border: 1px solid #ddd; /* Добавить серую границу */
  font-size: 18px; /* Увеличить размер шрифта */
}

#myTable th, #myTable td {
  text-align: left; /* Выравнивание текста по левому краю */
  padding: 12px; /* Добавить отступ */
}

#myTable tr {
  /* Добавить нижнюю границу для всех строк таблицы */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Добавить серый цвет фона для заголовка таблицы и при наведении курсора мыши */
  background-color: #f1f1f1;
}
