{% extends "base.html" %}

{% block content %}


  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Инструкция</h1>
      <p>Возможно, здесь стоит описать порядок действий для анализа.</p>
    </div>
  </div>

<form method="post" action="{% url 'result_analize_two' %}" enctype ="multipart/form-data" class="search-property" >
  <div class="container">
    <div class="row">


      <div class="col-sm-6">
        <div class="container border border-secondary rounded mycol-sm-6">
            {% csrf_token %}
            <div class="form-group">
              <label for="nameDocument"><h4>Введите название 1 учебного материала:</h4></label>
              <input type="text" class="form-control" id="nameDocument" name="one_material_name" required>
            </div>
            <div class="form-group" >
              <label for="exampleFormControlFile1">Прикрепите файл для анализа (dox, docx):</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile1" name="one_uploaded_file">
            </div>
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Вставьте текст для анализа" rows="15" name="one_text_for_analize" ></textarea><br>
        </div>
      </div>
      <div class="col-sm-6 ">
        <div class="container border border-secondary rounded mycol-sm-6">
            <div class="form-group">
              <label for="nameDocument"><h4>Введите название 2 учебного материала:</h4></label>
              <input type="text" class="form-control" id="nameDocument" name="two_material_name" required>
            </div>
            <div class="form-group" >
              <label for="exampleFormControlFile1">Прикрепите файл для анализа (dox, docx):</label>
              <input type="file" class="form-control-file" id="exampleFormControlFile1" name="two_uploaded_file">
            </div>
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Вставьте текст для анализа" rows="15" name="one_text_for_analize" ></textarea><br>
        </div>
      </div>
      <div class="col-sm text-center">
        <input type="submit" value="Рассчитать совместимость" class="form-control btn btn-secondary btn-block"/>
      </div>
    </div>
  </div>
</form>

{% endblock %}
