{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <h1>Добавление учебного материала:</h1>
  <form action="{% url 'result_analize_one' %}" method="post" enctype ="multipart/form-data">
    {% csrf_token %}

    {% if user.is_authenticated %}
    <div class="form-group">

        {{ form.name_document|as_crispy_field }}
    </div>
    {% endif %}
    <div class="form-group">
      <label for="exampleFormControlFile1">Прикрепите файл для анализа (dox, docx):</label>
        {{ form.path_file|as_crispy_field }}
    </div>
    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Вставьте текст для анализа" rows="15" name="one_text_for_analize" ></textarea><br>
    <input type="submit" value="Добавить" class="form-control btn btn-secondary btn-block"/>
  </form>
</div>

{% endblock content %}
