{% extends "base.html" %}

{% block content %}
  {% load static %}
  <div class="container text-center">
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Анализ совместимости учебных материалов</h1>
      <p class="lead">Здесь должен быть какой-то красивый текст, описывающий функциональность этого сервиса!</p>
      <p class="lead">
        <a href="{% url 'calculation_compatibility' %}" class="btn btn-lg btn-secondary">Рассчитать совместимость</a>
      </p>
    </main>
  </div>

{% endblock %}
