{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}


{% block content %}
{% load static %}

<h1 align="center">Авторизация</h1>
<form class="login form-signin text-center" method="post" action="{% url 'account_login' %}">
  {% csrf_token %}
  {% load static %}
  <img class="mb-4" src="{% static 'analysis_material/images/img_avatar.png' %}" alt="" width="72" height="72">
  <label for="inputUsername" class="sr-only">Логин</label>
  <input type="text" id="inputUsername" class="form-control" placeholder="Логин" name="login" required autofocus>
  <label for="inputPassword" class="sr-only">Пароль</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" name="password" required>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <input class="btn btn-lg btn-secondary btn-block" type="submit" value="Войти">
  <a href="{% url 'account_reset_password' %}">Забыли пароль?</a><br>
  <a href="{{ signup_url }}">Создать аккаунт</a>
</form>

{% endblock %}
